@import 'theme/main.scss';

@font-face {
  font-family: 'StemBold';
  src: url('/fonts/stem.ttf') format('truetype');
}

* {
  font-family: StemBold, Serif;
}

.fontStem {
  font-family: StemBold, serif;
}

head {
  height: 56px;
}

main {
  margin-top: 56px;
}

.top-search-input {
  max-width: 45%;
  height: 24px;
  padding: 10px 30px 7px;
  border-radius: 5px;
  background-repeat: no-repeat;
  background-size: 10%;

}

/* Setando cor placeholder */

.top-search-input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #B3B3B3;
  opacity: 1; /* Firefox */
}

.top-search-input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #B3B3B3;
}

.top-search-input::-ms-input-placeholder { /* Microsoft Edge */
  color: #B3B3B3;
}

.badge-size {
  height: 25px;
  font-size: 14px;
  margin-top: 7px;
  margin-left: 7px;
  padding: 3px 13px 0 13px;
}

.padding-0 {
  padding: 0;
}

.padding-left-0 {
  padding-left: 0;
}

.margin-top-10 {
  margin-top: 10px;
}

.margin-bottom-10 {
  margin-bottom: 10px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.margin-left-0 {
  margin-left: 0;
}

.pl-15 {
  padding-left: 15px;
}

.social-icons {
  margin-top: 10px;
  margin-right: 5px;
  max-width: 30px;
}

.main-jumbotron-content {
  padding: 5rem 0;
}

.sombra-esquerda {
  -webkit-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
  box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.1);
}

.big-image-post-blog {
  background-image: url('https://picsum.photos/500/500');
  -webkit-background-size: cover;
  background-size: cover;
}

.btn-ler-mais {
  background-color: #00ffa2;
  color: #76007f;
  padding: 7px 4rem 0 4rem;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 900;
}

.btn-ler-mais:hover {
  background-color: #01ff8c;
  color: #323a3d;
}

.text-purple {
  color: #76007f;
}

.text-light-gray {
  color: #B3B3B3;
}

.recuo-post-destaque {
  margin-top: -180px;
}

.background-white {
  background-color: #FFF;
}

.btn-outline-purple {
  background-color: #FFF;
  border: 3px solid #76007f;
  color: #76007f;
  padding: 5px 30px 2px;
  margin: 0 15px;
  font-weight: 900;
}

.btn-outline-purple:hover {
  background-color: #76007f;
  color: #FFF;
}

.botao-0 {
  background-color: #d7f37c;
}

.botao-1 {
  background-color: #fbc600;
}

.botao-2 {
  background-color: #767dff;
}

.botao-3 {
  background-color: #49b6d1;
}

.botao-4 {
  background-color: #ff774f;
}

.botao-5 {
  background-color: #00b79c;
}

.icon-menu {
  width: 40px;
  display: none;
}

/* SOBRESCREVENDO CLASSES DO BOOTSTRAP */
.jumbotron {
  border-radius: 0;

  background: rgba(111, 0, 128, 1);
  background: -moz-linear-gradient(left, rgba(111, 0, 128, 1) 0%, rgba(101, 0, 129, 1) 49%, rgba(73, 54, 136, 1) 100%);
  background: -webkit-gradient(left top, right top, color-stop(0%, rgba(111, 0, 128, 1)), color-stop(49%, rgba(101, 0, 129, 1)), color-stop(100%, rgba(73, 54, 136, 1)));
  background: -webkit-linear-gradient(left, rgba(111, 0, 128, 1) 0%, rgba(101, 0, 129, 1) 49%, rgba(73, 54, 136, 1) 100%);
  background: -o-linear-gradient(left, rgba(111, 0, 128, 1) 0%, rgba(101, 0, 129, 1) 49%, rgba(73, 54, 136, 1) 100%);
  background: -ms-linear-gradient(left, rgba(111, 0, 128, 1) 0%, rgba(101, 0, 129, 1) 49%, rgba(73, 54, 136, 1) 100%);
  background: linear-gradient(to right, rgba(111, 0, 128, 1) 0%, rgba(101, 0, 129, 1) 49%, rgba(73, 54, 136, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6f0080', endColorstr='#493688', GradientType=1);

  padding-top: 1rem;
}

/** RESPONSIVE **/

@media screen and (max-width: 320px) {
  .top-search-input {
    max-width: 100%;
  }
  .social-icons {
    display: none;
  }
  .badge {
    display: none;
  }
  .main-jumbotron-content {
    padding: 1rem 0 6rem 0;
  }
  .btn-outline-purple {
    width: 250px;
    margin-bottom: 10px;
  }
  .icon-menu {
    display: block;
    margin: auto;
    margin-top: 20px;
  }
  .mobile_badge {
    display: inline;
  }
}

/** MENU MOBILE **/
#menu_mob {
  color: #FFF;
  display: none;
  background-color: rgba(118, 0, 127, 0.8);
  width: 100%;
  height: 100%;
  z-index: 99999999999;
  position: fixed;
  top: 0;
  left: 0;
  text-align: center;
}